server/node_modules/
server/.env
*.log

fighting_game/Library/
fighting_game/Temp/
fighting_game/Obj/
fighting_game/Logs/
fighting_game/UserSettings/
fighting_game/ProfilerCaptures/
fighting_game/.vs/

*.csproj
*.sln
*.slnx
*.vsconfig